.Title{
    margin-bottom: 0px;
    
}
.paraTitle{
    margin-top: 0px;
}
.mainDiv{
    background-color: aliceblue;
    margin: auto;
    width: 400px;
    padding-left: 20px;
}
section{
    margin: auto;
    width: 100%;
}
.Itext{
    margin-bottom: 15px;
}